---
import ListItem from '../components/ListItem.astro';
import { BLOG_NAME } from '../consts/message';
import Layout from '../layouts/Layout.astro';
import { getAllBlogs } from '../lib/blog';

const blogs = await getAllBlogs();
---

<Layout title={BLOG_NAME}>
	<main>
		{
			blogs.map((blog) => {
				return <ListItem blog={blog} />
			})
		}
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
