---
import ListItem from '../components/ListItem.astro';
import { BLOG_NAME } from '../consts/message';
import Layout from '../layouts/Layout.astro';
import { getAllBlogs } from '../lib/blog';

const blogs = await getAllBlogs();
---

<Layout title={BLOG_NAME}>
	<main>
		<head>
			<!-- twitter -->
			<meta name="twitter:card" content="summary_large_image" />
			<meta name="twitter:image" content="/Top.png" />
			<meta name="twitter:title" content={BLOG_NAME} />
			<meta name="twitter:url" content={`https://jy-panda.com/`} />

			<meta property="og:url" content={`https://jy-panda.com/`} />
			<meta property="og:title" content={BLOG_NAME} />
			<meta property="og:image" content="/public/Top.png" />
		</head>
		{
			blogs.map((blog) => {
				return <ListItem blog={blog} />
			})
		}
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
